# Server
PORT=
NODE_ENV=

# Database
DATABASE_URL=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
SALT=

# CORS
CORS_ORIGIN=

# Rate limit
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

