# Server
PORT=
NODE_ENV=

# Database
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
SALT=

# CORS
CORS_ORIGIN=

# Rate limit
RATE_LIMIT_WINDOW_MS=900000 # 15 min (ms)
RATE_LIMIT_MAX=100

