# Server
PORT=
NODE_ENV=

# Database
DATABASE_URL=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
SALT=
SESSION_SECRET=

# CORS
CORS_ORIGIN=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# URLs
BASE_URL=
PHP_URL=
